// ########## colors ###########

$clr-primary-200: #014a8e;
$clr-primary-400: #00376a;
$clr-primary-600: #00284e;

$clr-accent-200:#fda241;
$clr-accent-400:#ff8400;
$clr-accent-600:#d97000;
$clr-accent-900:#ab5a03;